.react-g-tooltip-arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: -1;
}

.react-g-tooltip-arrow::before {
  content: '';
  transform: rotate(45deg);
  background: #333;
}

.react-g-tooltip[data-popper-placement^='top'] > .react-g-tooltip-arrow {
  bottom: -4px;
}

.react-g-tooltip[data-popper-placement^='bottom'] > .react-g-tooltip-arrow {
  top: -4px;
}

.react-g-tooltip[data-popper-placement^='left'] > .react-g-tooltip-arrow {
  right: -4px;
}

.react-g-tooltip[data-popper-placement^='right'] > .react-g-tooltip-arrow {
  left: -4px;
}
